<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Disconnected_Environment.Properties.Settings.prodi_mahasiswaConnectionString"
            connectionString="Data Source=LAPTOP-1JRJB77C\HMMPRYT;Initial Catalog=prodi_mahasiswa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>